[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
invoke = "*"
bumpversion = "*"
coverage = "*"
wheel = "*"
sphinx = "*"
twine = "*"
tox = "*"
"flake8" = "*"
pylint = "*"
pytest = "*"
isort = "*"
yapf = "*"
setuptools = "*"
autopep8 = "*"
bandit = "*"
pydocstyle = "*"
mypy = "*"
commitizen = "*"
ptipython = "*"
docutils = "*"
sphinx-autobuild = "*"
doc8 = "*"

[packages]
pyarcher = {path = ".",editable = true}
requests = "*"
requests-mock = "*"
sqlalchemy = "*"
pyodbc = "*"
xmltodict = "*"
