ptipython
ipython
bandit
tox
pytest
flake8
autopep8
pylint
pytest-cov==2.12.0
commitizen
pylint-fail-under
invoke
bumpversion
coverage
wheel
sphinx
twine
isort
yapf
setuptools
pydocstyle
mypy
docutils
sphinx-autobuild
doc8