ptipython
ipython
bandit
tox
pytest
flake8
autopep8
pylint
pytest-cov
commitizen
pylint-fail-under
invoke
bumpversion
coverage
wheel
sphinx==7.1.1
twine
isort
yapf
setuptools
pydocstyle
mypy
docutils
sphinx-autobuild
doc8