ptipython
ipython
bandit
tox
pytest
flake8
autopep8
pylint
pytest-cov
commitizen
pylint-fail-under
invoke
bumpversion
coverage
wheel
sphinx
twine
isort
yapf==0.40.1
setuptools
pydocstyle
mypy
docutils
sphinx-autobuild
doc8